body {
    background: url('../img/bg.jpg')  no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fffdd9;
    letter-spacing: 0.1em;
     font-size: 14px;
}

/* CLEARFIX METHOD */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

/********** Grid System **********/

[class*='col-'] {
  float: left;
}

.col-1-12 {
  width: 8.33%;
}

.col-2-12 {
    width: 16.66%;
}

.col-3-12 {
    width: 25%;
}

.col-4-12 {
    width: 33.33%;
}

.col-5-12 {
    width:  41.66%;
}

.col-6-12 {
    width: 50%;
}

.col-7-12 {
    width: 58.33%
}

.col-8-12 {
    width: 66.66%
}

.col-9-12 {
    width: 75%;
}

.col-10-12 {
    width: 83.33%;
}

.col-11-12 {
    width: 91.66%;
}

.col-12-12 {
    width: 100%;
}

.push-1-12 {
    margin-left: 8.33%;
}


/********** Menu **********/

.menu-sidebar {
    background: rgba(0,0,0,0.6);
    top:0; left:0; right:0; bottom:0;
    position: fixed;
    padding-top: 64px;
    color: #dce3dd;
    overflow: hidden;
    -webkit-transition: .25s ease-in-out;
    transition: 0.25s ease-in-out;
     font-weight: 300;
    text-transform: uppercase;
    line-height: 3em;
}

.menu-sidebar.active {
    width: 16.66%;
}
.hamburger-icon {
    width: 20px;
    height: 14px;
    margin: 0 auto 23px;
    position: relative;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background: #dce3dd;
    position: absolute;
    opacity: 1;
    -webkit-transition: .25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
    top: 0px;
}

.hamburger-icon span:nth-child(2) {
    top: 6px;
}

.hamburger-icon span:nth-child(3) {
    top: 12px;
}

.hamburger-icon.active span:nth-child(1)  {
    top: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger-icon.active span:nth-child(2)  {

    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger-icon.active span:nth-child(3)  {

    opacity: 0;
    top: 22px;
}

.menu-list {
    position: absolute;
    left: -100%;
    opacity: 0;
    max-width: 100%;
    text-align: center;
    -webkit-transition: .25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.menu-title {
    width: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: .25s ease-in-out;
    transition: 0.25s ease-in-out;

}

.menu-list.active {
    left: 0;
    opacity: 1;
    min-width: 100%;
}

.menu-title.active {
    left: 100%;
}

.menu-list ul, .menu-list ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-list ul li a {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.menu-list ul li a.active {
    color: #e9ac8f;
}

.menu-list ul li a:before, .menu-list ul li a:after {
    width: 0%;
    height: 1px;
    background: white;
    content: "";
    display: block;
    margin: 0 auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.menu-list ul li a.active:before, .menu-list ul li a.active:after {
    width: 80%;
    background: #e9ac8f;
}

/********** Avatar Area **********/

.avatar-area {
    padding: 80px 0;
    background: rgba(0,0,0,0.4);
    text-align: center;
}

.avatar-area h2 {
    color: #e9ac8f;
    max-width: 65%;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    margin: 38px auto 26px;
}

.avatar-area p {
    max-width: 65%;
    margin: 0 auto;
    line-height: 29px;
}

.avatar-icons img {
    width: 28px;
    height: 28px;
    fill: white;
    opacity: 0.28;
    margin: 40px 16px 0;
}

.avatar-icons img:hover {

}
